
<div class="text-center mt-3 col-md-12">
<h1 class="mb-2">{{title}}</h1>
<div class="px-2">
<p>
  "Au Petit Village" est bien plus qu'une simple entreprise de fabrication de
  figurines. Nous sommes les gardiens de l'esprit indomptable des Gaulois les
  plus célèbres de tous les temps, Astérix et Obélix. Spécialisés dans la
  création de figurines inspirées de la bande dessinée emblématique, nous sommes
  dévoués à capturer chaque détail, chaque expression et chaque trait de
  caractère qui a charmé des générations entières.
</p>

<p>
  Notre engagement dépasse la simple création de
  figurines. Nous nous engageons à offrir à nos clients une expérience
  authentique, fidèle à l'esprit de la bande dessinée originale. Chaque figurine
  est soigneusement conçue pour évoquer des souvenirs précieux et pour inspirer
  de nouvelles aventures imaginaires.
</p>

<p>
  Nos figurines sont plus que de simples objets de collection, ce sont des
  témoins vivants de l'héritage culturel des Gaulois. Des moments de bravoure
  épiques aux instants comiques, chaque pièce capture l'essence même d'Astérix
  et Obélix. De plus, notre gamme comprend une variété de produits, des
  figurines en édition limitée aux répliques fidèles, offrant ainsi quelque
  chose pour chaque amateur passionné.
</p></div>

<img src="../../assets/images/apropos_image.jpg" alt="" class="img-fluide py-3">
</div>